# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
src/main/angular/dist
src/main/angular/tmp
src/main/angular/out-tsc
src/main/angular/bazel-out
/target

# dotenv
**/.env

# Node
**/node_modules
src/main/angular/npm-debug.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/   

# Miscellaneous
src/main/angular/.angular/
.sass-cache/

# System files
.DS_Store
Thumbs.db
